<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventGuard">
        <activity
            android:name=".OrganizerModule.OrganizerProfile.organizer_security"
            android:exported="false" />
        <activity
            android:name=".OrganizerModule.OrganizerProfile.organizer_profile_setting"
            android:exported="false" /> <!-- Organizer Module -->
        <!-- Scanner -->
        <activity
            android:name=".OrganizerModule.Scanner.OrganizerScanner"
            android:exported="false" />
        <activity
            android:name=".OrganizerModule.Scanner.ScannerRegisteredEvents"
            android:exported="false" /> <!-- Organizer Dashboard -->
        <activity
            android:name=".OrganizerModule.Dashboard.OrganizerAnalytics"
            android:exported="false" />
        <activity
            android:name=".OrganizerModule.Dashboard.OrganizerAnalyticsList"
            android:exported="false" />
        <activity
            android:name=".OrganizerModule.Dashboard.OrganizerDashboard"
            android:exported="false" />
        <activity
            android:name=".OrganizerModule.Dashboard.CreateEventActivity"
            android:exported="false" /> <!-- OrganizerEvents -->
        <activity
            android:name=".OrganizerModule.OrganizerEvents.OrganizerEvents"
            android:exported="false" />
        <activity
            android:name=".OrganizerModule.OrganizerEvents.organizer_events_details"
            android:exported="false" />
        <activity
            android:name=".UserModule.Events.item_event"
            android:exported="false" /> <!-- User Module -->
        <!-- Events -->
        <activity
            android:name=".UserModule.Events.dialog_filter"
            android:exported="false" />
        <activity
            android:name=".UserModule.Events.events_details"
            android:exported="false" />
        <activity
            android:name=".UserModule.Events.events"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" /> <!-- Dashboard -->
        <activity
            android:name=".UserModule.Dashboard.UserDashboard"
            android:exported="false" /> <!-- Profile -->
        <activity
            android:name=".UserModule.Profile.security"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UserModule.Profile.profile_setting"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" /> <!-- Ticket -->
        <activity
            android:name=".UserModule.ticket.qr_pass"
            android:exported="false" />
        <activity
            android:name=".UserModule.ticket.registered_events"
            android:exported="false" /> <!-- Auths -->
        <activity
            android:name=".Auths.Login"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Auths.Register"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Auths.MainActivity"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>